body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.active {
  text-decoration: underline;
}

.container {
  padding: 20px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product,
.cart-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.product img {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}

.product h3,
.cart-item h3 {
  margin-top: 0;
}

.cart-buttons {
  display: flex;
  gap: 10px;
}

.product button,
.cart-item button,
.total button,
.thank-you button {
  background-color: #5cb86c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.product button:hover,
.cart-item button:hover,
.total button:hover,
.thank-you button:hover {
  background-color: #4cae4c;
}

.cart-buttons .remove {
  background-color: #d9534f;
}

.cart-buttons .remove:hover {
  background-color: #c9302c;
}

.total {
  text-align: right;
  margin-top: 20px;
}

.total p {
  font-size: 1.2em;
  font-weight: bold;
}
